In [1]:
import numpy as np
import pandas as pd
import netCDF4 as nc
from datetime import date, timedelta
import os
import xarray as xr

In [2]:
hurdat = pd.read_csv("data/hurdat2_cleaned.csv", parse_dates=['formation_datetime', 'observation_datetime'])

In [3]:
hurdat_sorted = hurdat.sort_values(by=['code','observation_datetime'], ascending=[True, True]).drop_duplicates(keep='first', subset=['code'])

In [4]:
hurdat_sorted.sort_values(by=['observation_datetime'], ascending=[True], inplace=True)

In [5]:
columns_to_keep = ['code','name','formation_datetime','lat','lon']
df = hurdat_sorted[columns_to_keep].copy()
df.columns = ['code','name','formation_datetime','formation_lat','formation_lon']
df.head()

        code     name  formation_datetime  formation_lat  formation_lon
0   AL011851  UNNAMED 1851-06-25 00:00:00           28.0          265.2
14  AL021851  UNNAMED 1851-07-05 12:00:00           22.2          262.4
15  AL031851  UNNAMED 1851-07-10 12:00:00           12.0          300.0
16  AL041851  UNNAMED 1851-08-16 00:00:00           13.4          312.0
65  AL051851  UNNAMED 1851-09-13 00:00:00           32.5          286.5

In [ ]:
df['year'] = df['formation_datetime'].dt.year
df['dayofyear'] = df['formation_datetime'].dt.dayofyear

In [6]:
features = ['ace','rhum','sst','vws']
for feature in features:
	data = pd.read_csv(f"data/{feature}.csv")
	df = df.merge(data, on='code', how='left')

In [7]:
df.head()

,code,name,formation_datetime,formation_lat,formation_lon,ACE,rhum_minus_0_days,rhum_minus_3_days,rhum_minus_7_days,rhum_minus_14_days,sst_minus_0_days,sst_minus_3_days,sst_minus_7_days,sst_minus_14_days,vws_minus_0_days,vws_minus_3_days,vws_minus_7_days,vws_minus_14_days
0,AL011851,UNNAMED,1851-06-25 00:00:00,28.0,265.2,5.55,58.062843,58.062843,58.062843,58.062843,27.493002,27.493002,27.493002,27.493002,35.908143,35.908143,35.908143,35.908143
1,AL021851,UNNAMED,1851-07-05 12:00:00,22.2,262.4,0.64,74.068085,78.490578,55.125404,37.810688,28.438002,28.438002,27.738001,27.738001,29.998210,29.998210,29.998210,29.998210
2,AL031851,UNNAMED,1851-07-10 12:00:00,12.0,300.0,0.25,65.337807,44.401619,43.306999,32.944099,27.893002,27.893002,27.893002,27.575001,38.835399,38.835399,38.835399,38.835399
3,AL041851,UNNAMED,1851-08-16 00:00:00,13.4,312.0,22.83,68.846222,48.393429,51.262020,58.588402,27.195002,27.195002,27.195002,27.195002,39.611651,39.611651,39.611651,39.611651
4,AL051851,UNNAMED,1851-09-13 00:00:00,32.5,286.5,4.00,40.366375,42.911156,71.011948,44.569759,26.835001,26.835001,26.835001,27.370001,39.997490,39.997490,39.997490,39.997490

In [11]:
df['month'].value_counts()

month
9     666
8     466
10    376
7     178
6     138
11     99
5      41
12     14
4       6
1       5
3       1
2       1
Name: count, dtype: int64

In [40]:
df.to_csv("design-matrix.csv",index=False)