In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
formation = pd.read_csv('../data/processed/predictors/formation.csv', parse_dates=['formation_datetime'])
nao = pd.read_csv('../data/raw/nao.tsv', sep='\t', index_col=0)
nao.head()

,1,2,3,4,5,6,7,8,9,10,11,12,annual
year,,,,,,,,,,,,,
1825,-0.23,0.21,0.33,-0.28,0.13,0.41,-0.92,1.43,-0.95,1.98,1.06,-1.31,0.16
1826,-3.05,4.87,-0.97,1.78,-1.20,0.83,1.89,2.72,-0.76,0.18,-2.41,-0.59,0.27
1827,-0.45,-3.72,1.83,-0.83,1.20,-0.07,2.02,-3.56,-0.07,-3.02,-1.42,2.70,-0.45
1828,1.27,0.37,-0.18,0.04,-1.59,-1.33,-4.40,-2.54,-2.78,0.10,-2.57,3.04,-0.88
1829,-2.48,0.32,-2.54,0.12,1.80,-0.10,0.33,0.77,0.78,0.71,-0.33,-0.43,-0.09

In [30]:
def get_nao(dt):
	result = nao.loc[dt.year, str(dt.month)]
	return np.nan if result == -99.99 else result

In [31]:
formation['nao'] = formation.apply(lambda row: get_nao(row.formation_datetime), axis=1)

In [32]:
results = formation.drop(columns=['formation_datetime', 'formation_lat', 'formation_lon'])
results

          code   nao
0     AL011851 -1.62
1     AL011852  2.94
2     AL011853 -2.36
3     AL011854 -0.06
4     AL011855  3.81
...        ...   ...
1986  AL301969 -1.62
1987  AL302005 -1.01
1988  AL302020  1.25
1989  AL312005 -0.81
1990  AL312020  1.25

[1991 rows x 2 columns]

In [33]:
results.to_csv('../data/processed/predictors/nao.csv', index=False)